<html>
  <head>
    <meta charset='utf-8' />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta
      name='description'
      content='{{htmlWebpackPlugin.options.description}}'
    />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
  </head>
  <body>
    <section class='hero'>
      <div class='nav-container'>
        <nav class='nav-container__menu'>
          <ul class='nav-container__list'>
            <li class='li-item'>Search</li>
            <li class='li-item'>Characters</li>
            <li class='li-item'>Episodes</li>
          </ul>
        </nav>
      </div>
    </section>
  </body>
</html>